#game-container{
margin: 0 auto;
width: 20%;
border-left-color: black;
border-right-color: black;
border-width: 1px;
}

.large-btn{
    width: 12%;
    height: 60px;
}

.tile{
    width:7%;
    height: 60px;
}

.guess-tile{
    width: 4rem;
    height: 4rem;
    margin: 3px;
}

.row{
    padding-bottom: 8px;
    width: 100%;
}

.game-row, .keyboard-row{
    text-align: center;
}

#game-title{
    font-size: 1.25rem;
    font-weight: bold;
    text-align: center;
}